<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <style>
        .log{ display: none;}
        .logout{ padding: 10px  20px; }
    </style>
</head>
<body>
    <h1>로그인</h1>
    <form action="" class="login-form">
        <div>
            <label for="user_id">아이디</label>
            <input type="text" id="user_id" autocomplete="off">
        </div>
        <div>
            <label for="user_pwd">비밀번호</label>
            <input type="password" id="user_pwd">
        </div>
        <div>
            <button class="login">로그인</button>
        </div>
    </form>

    <div class="log">
        <span></span>
        <button class="logout">로그아웃</button>
    </div>
    <script>
        const loginForm = document.querySelector(".login-form");
        const log = document.querySelector(".log");
        // 로그인이 되어 있는 상태에서 새로 로그인 할 수도 있고 
        // 로그인이 되어 있지 않은 상태에서 로그인
        // const user = localStorage.getItem('user');

        console.log( document.cookie)

        if( !document.cookie.includes('username') ){
            loginForm.style.display = "block";
            log.style.display = 'none';
        }else{
            loginForm.style.display = "none";
            log.style.display = 'block';
            
            document.querySelector(".log>span").innerHTML = document.cookie ;
        }
    </script>
    <script>
        
        loginForm.addEventListener('submit', (event)=>{
            event.preventDefault(); // 화면 갱신 방지

            fetch('http://localhost:3000/login', {
                method: 'POST',
                body:JSON.stringify({
                    user_id : user_id.value,
                    user_pwd : user_pwd.value
                }),
                headers:{ 'content-type' : 'application/json;charset=utf-8'}
            }).then( res=>res.json())
            .then( res=>{
                // 처리
                if( res.success ){
                    document.querySelector('.log').style.display = "block";
                    document.querySelector('.log>span').innerHTML = res.message;
                    user_id.value = "";
                    user_pwd.value = "";
                    loginForm.style.display = "none";
                    // cookie, session 정보를 사용자 컴에 남겨두어야 함 
                    // localStorage.setItem('user', res.message);
                    // 장바구니등 user정보가 필요한 데이터 접근시 필요한 데이터
                    location.href = 'http://localhost:3000';
                    // 로그인 한 후 index로 이동
                }else{
                    alert(res.message);
                    user_id.value = "";
                    user_pwd.value = "";
                    location.href = 'http://localhost:3000/register';
                }
            })
        })

        document.querySelector('.logout').addEventListener('click', ()=>{
            fetch('http://localhost:3000/logout')
            .then( res=>res.json())
            .then( res=>{
                if( res.success ){
                    document.querySelector('.log').style.display = "none";
                    document.querySelector('.log>span').innerHTML = "";
                    user_id.value = "";
                    user_pwd.value = "";
                    loginForm.style.display = "block";
                    //localStorage.removeItem('user');//
                }
            })
        })
    </script>
</body>
</html>